:root {
    --color-primary: #a51610;
    --color-secondary: #FFF6F7;
    --color-tertiary: #FFFEF8;
    --color-extra: #a51510a9;
    --main-text: "Roboto Condensed", serif;
    --subtitle-text: "Pacifico", serif;
    --background-texture: url(./assets/svgs/background-lines.svg) no-repeat center ;
   
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--main-text);
    text-align: center;
    background-color: var(--color-tertiary);
    position: relative;
}

header {
    background-color: var(--color-primary);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    height: 4rem;
    margin: 0 2rem;
}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.nav-list-item {
    margin-top: 1.2rem;
    font-family: var(--subtitle-text);

}

.nav-a {
    text-decoration: none;
    color: black;
}

.nav-a:hover {
    color: var(--color-tertiary);
}

.active {
    color: white;
    text-shadow: 0 0 20px var(--color-secondary), 0 0 30px #f391c2, 0 0 40px #f391c2, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #f40e81, 0 0 80px #f40e81;
}
.changing-title{
    display: none;
}
.homepage {
    background: var(--color-secondary) var(--background-texture);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 1.4rem;
    padding: 1rem 2rem;
    background-color: var(--color-tertiary);
    border: solid var(--color-primary);
    border-radius: 20px;
    font-family: var(--main-text);
    font-size: 1.1rem;
    transition: 1s;
    text-align: center;
}

button:hover {
    background-color: var(--color-extra);
    color: white;
    font-family: var(--subtitle-text);
}

.text-homepage h1 {
    padding: 3rem 0 0 0;
    color: var(--color-primary);
    font-size: 4.6rem;

}

.section {
    height: 100vh;
}

.pink {
    background-color: var(--color-secondary);
}

.services-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-grid {
    display: grid;
    gap: 2rem;
    text-align: center;
    height: 70%;
    width: 80%;
}

.top-bottom {
    grid-template-columns: 1fr repeat(3, 2fr);
}

.middle {
    grid-template-columns: repeat(3, 2fr) 1fr;
}

.more {
    width: 80%;
    display: flex;
    justify-content: end;
    padding-top: 2rem;
}

.middle-bottom {
    justify-content: start;
}

.more-a {
    text-decoration: none;
    color: black;
    padding-bottom: .5rem;
    border-bottom: 1.3px dotted var(--color-extra);
    font-size: 1.6rem;
    transition: .5s;
}

.more-a:hover {
    color: var(--color-primary);
    border-bottom: 1.3px dotted black;
    font-size: 1.8rem;

}

.sutitle {
    font-family: var(--subtitle-text);
    color: var(--color-primary);
}

.subtitle-service {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: var(--subtitle-text);
    font-size: 2rem;
}

.img-services {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-text {
    text-align: left;
    font-size: 1.6rem;
}

.kontakt-title {
    font-family: var(--subtitle-text);
}
.info-kontakt{
    display: flex;
    gap: .5rem;
}
.small {
    font-size: 1rem;
}

.small:hover {
    font-size: 1.2rem;
}

footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 60px;
    background-color: var(--color-extra);
    text-align: left;
    justify-content: space-evenly;
    padding: 1rem;
}
footer a:hover{
    color: var(--color-tertiary);
}
.svg-footer{
    display: flex;
    align-items: center;
}
.svg-footer p{    
    padding-left: .5rem;
}
.a-footer-edges{
    text-decoration: none;
    color: black;
    font-family: var(--subtitle-text);
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.a-footer-middle{
    text-decoration: none;
    color: black;
    font-family: var(--main-text);
    font-size: 1rem;
}
.container-extras {
    background: var(--color-tertiary) var(--background-texture);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otev-doba {
    height: 100vh;
}

.sluzby {
    height: auto;
    padding-bottom: 5%;
}

.title-extras {
    color: black;
    font-family: var(--subtitle-text);
    font-size: 2rem;
    padding-top: 6rem;
}

.red-title {
    color: var(--color-primary);
}

.grid-od {
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: var(--color-secondary);
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.1fr 1fr;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.543);
    gap: .7px;
}

.text-schedule {
    display: flex;
    flex-direction: column;
    height: 68%;
    justify-content: center;
}

.section-schedule {
    background-color: var(--color-secondary);
}

.section-schedule h2 {
    padding: .5rem 0;
    color: var(--color-primary);
}

.vikend {
    grid-column: span 2;
}

.vikend p {
    padding: .2rem;
}

.container-pricing-list {
    background-color: var(--color-secondary);
    width: 90%;
    height: auto;
    margin-top: 1.4rem;
    cursor: pointer;
    border: 1px solid;
    border-bottom: 0;
}

.item-box {
    border-bottom: 1px solid;
}

.item-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.item-content {
    background-color: var(--color-tertiary);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem 0;
    cursor: default;
}

.table {
    width: 70%;
    margin-bottom: 2rem;
}

table,
td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding-top: 1rem;
}

th {
    text-align: left;
    padding-top: 2rem;
    font-size: 1.4rem;
}

.small-em {
    padding: .6rem 0 1rem 0;
    text-align: center;
}

.left {
    width: 70%;
    text-align: left;
}

.right {
    width: 30%;
    text-align: right;
}


details summary::-webkit-details-marker {
    display: none;
}

summary .icon-arrow {
    transform: rotate(0);
    transition: 0.45s transform ease;
}

details[open] summary .icon-arrow {
    transform: rotate(180deg);
    transition: 0.45s transform ease;
}

details {
    overflow: hidden;
}

.section-lg {
    height: 100vh;
    padding: 6rem 0 2rem 0;
}

.extras-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras-map iframe {
    width: 90%;
    height: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 2rem;
    background: var(--color-tertiary) var(--background-texture);
    background-size: cover;
}
fieldset{
    border: 1px solid var(--color-extra);
}
legend{
    font-family: var(--subtitle-text);
    font-size: 1.4rem;
    color: var(--color-primary);
}
.client-name{
    text-align: left;
}
label{
    margin-left: .6rem;
}
.same-row {
    display: flex;
    align-items: center;
}

.extra-btn {
    width: fit-content;
    align-self: flex-end;
    margin: .6rem .6rem 0 0;
}
input{
    height: 2rem;
    padding-left: .6rem;
    margin: .6rem;
}
textarea {
    resize: none;
    height: 20vh;
    font-family: var(--main-text);
    padding: .6rem;
    margin: .6rem;
}

.nas-body{
    background-color: var(--color-secondary);
    height: 190vh;
}
.o-nas {
    display: flex;
    justify-content: center; 
    height: 100vh;
    padding-top: 4rem; 
}

.image-box{
    background: url(assets/images/studioimg.jpg) no-repeat center top fixed;
    background-size: cover;
    width: 94%;
    height: 120%;
    display: flex;
    justify-content: center;
}

.rounded-box{
    width: 800px;
    height: 122%;
    background: var(--color-tertiary) var(--background-texture);
    background-size: cover;
    margin-top: 19%;
    border: var(--color-primary) solid 1px;
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rounded-box h1{
    padding-top: 3rem;
}

.text-o-nas{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-o-nas em{
    color: var(--color-primary);
}
.list-o-mne{
 width: 90%;
 text-align: left;
}
.list-o-mne li{
    font-size: 1.2rem;
    padding-bottom: .6rem;
    font-family: var(--main-text);
}
.list-o-mne i{
    color: var(--color-extra);
}
.rounded-box img{
    width: 40%;
}
.hamburger{
    display: none;
}
.line{
    display: block;
    width: 2.4rem;
    height: 3px;
    margin: 8px;
    background-color: black;
    border-radius: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media (max-width: 1000px) {
    body{
        width: 100vw;
    }
    header{
        width: 100vw;
        height: 80px;
        display: flex;
        align-items: center; 
    }
    nav{
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
    .nav-a:hover {
        color: var(--color-extra);
    }
    .logo-and-changing-title{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .logo{
        height: 78px ;
        margin: 0;
    }
    .changing-title{
        display: inherit;
        padding: .8rem 0 0 .4rem;
        color:black;
        font-family: var(--main-text);
    }
     .hamburger{
        display: block;
     }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(11px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
    }
    .nav-list {
        display: block;
        left: -100%;
        position: fixed;
        top: 370px;
        gap: 2rem;
        width: 100vw;
        background-color: var(--color-secondary);
        text-align: center;
        transition: .3s;
        height: 100vh;
        font-size: 2rem;
    }
    .top{
        padding-top: 140px;
        top:80px;
        height: 300px;
    }
    .nav-list-item{ 
        margin: 1rem 0;
    }
    .nav-list.visible{
        left: 0%;
    }
    nav ul{ 
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .active{
        color: black;
        text-shadow: none;
    }
  
    .section{
        width: 100vw;
    }
    .container-grid{
        gap: .6rem;
        height: 80% ;
        width: 90%;
    }
    .top-bottom{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .middle{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .subtitle-service{
        grid-row: span 3;
    }
    .panske{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .img-services {
        height: 26vh;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
    }
    .section-lg{
        height: auto;
    }
    .form{
        margin-top: 6vh;
        width: 90vw;
        height: 80vh;
        padding: 1rem ;
        justify-content: space-evenly;
        align-items: center;
    }
    .same-row {
        flex-direction: column;
        width: 70%;
    }
    .extra-btn {
        margin:0;
        align-self: center;
    }
    label{
        margin-left: .4rem;
    }
    input{
        width: 70%;
        height: 5vh;
        margin: .4rem;
    }
    textarea {
        width: 90%;
        margin: .4rem;
    }
    .google-map iframe{
        width:100vw;
        height: 40vh;
    }
    .kontakt-title{
        text-align: center;
    }
    .container-extras{
        justify-content: center;
    }
    .sluzby-title{
        padding-top: 9rem;
    }
    .grid-od {
        font-size: 1.4rem;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .vikend {
        grid-column: span 1;
    }
    .nas-body{
        height: auto;
    }
    .image-box{
        width: 100%;
        height: 1340px; 
    }
    .rounded-box{
        width: 88%;
        height: 1000px;
        margin-top: 280px;
        border-radius: 500px 500px 0 0;
    }
    .rounded-box img{
        width: 200px;
        margin-top: 2rem;
    }
    footer{
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        padding: 2rem;
    }
}