<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Služby</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <meta name="description" content="Salon na Jahodě nabízí širokou škálu služeb, od stříhání a barvení až po keratinovou kůru.">
    <meta name="keywords" content="služby, stříhání, barvení, keratin, kúra, úprava, vlasy, péče, styl, trendy, kvalita, vášeň">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list top">
                <li class="nav-list-item"><a class="nav-a" href="o-nas.html">O nás</a></li>
                <li class="nav-list-item"><a class="nav-a" id="oteviraci-doba" href="otev-doba.html">Otevírací Doba</a></li> 
            </ul>
            <a href="../index.html" class="logo-and-changing-title" name="přesměruje na domovskou stránku"><img class="logo" src="../assets/strawberry.png" alt="Jahodě Logo"><h2 class="changing-title"></h2></a>
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item"><a class="nav-a" href="sluzby.html">Služby</a></li>
                <li class="nav-list-item"><a class="nav-a" href="kontaktujete-nas.html">Kontaktujete nas</a></li>
                <li class="nav-list-item hidden-item"><a class="nav-a" href="../index.html">HOME</a></li>
                <li class="nav-list-item hidden-item home-list-nav"><a name="přesměrování na facebookovou stránku" class="nav-a fb-icon" href="https://www.facebook.com/profile.php?id=61570093749361"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="black"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook-hidden">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg></a></li>
            </ul>
        </nav>
    </header>

    <div class="container-extras sluzby">
        <h1 class="title-extras red-title sluzby-title">Služby s cenami</h1>
        <div class="container-pricing-list">
            <details class="item-box">
                <summary class="item-main">
                    <h2>STŘÍHÁNÍ</h2>
                    <ion-icon name="chevron-down-circle-outline"><img class="icon-arrow"
                            src="../assets/svgs/chevron-down-circle-outline.svg" alt="ikona šipky dolů"
                            width="30px"></ion-icon>
                </summary>
                <hr>
                <div class="item-content">
                    <table class="table">
                        <tr>
                            <th colspan="2">Dětské</th>
                        </tr>
                        <tr>
                            <td class="left">do 6 let</td>
                            <td class="right">200 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">do 10 let</td>
                            <td class="right">300 Kč</td>
                        </tr>
                        <tr>
                            <th colspan="2">Pánské</th>
                        </tr>
                        <tr>
                            <td class="left">Strojek</td>
                            <td class="right">300 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Nůžky</td>
                            <td class="right">500 Kč</td>

                        </tr>
                        <tr>
                            <td class="left">Vousy</td>
                            <td class="right">100 Kč</td>
                        </tr>
                        <tr>
                            <th colspan="2">Dámské</th>
                        </tr>
                        <tr>
                            <td class="left">Krátké vlasy</td>
                            <td class="right">500 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Dlouhé vlasy</td>
                            <td class="right">700 Kč</td>

                        </tr>
                        <tr>
                            <td class="left">Ofina</td>
                            <td class="right">50 Kč</td>
                        </tr>
                        <tr>
                            <th colspan="2">Foukaná</th>
                        </tr>
                        <tr>
                            <td class="left">Krátké vlasy</td>
                            <td class="right">300 Kč</td>

                        </tr>
                        <tr>
                            <td class="left">Dlouhé vlasy</td>
                            <td class="right">550 Kč</td>
                        </tr>
                    </table>
                </div>
            </details>
            <details class="item-box">
                <summary class="item-main">
                    <h2>BARVENÍ</h2>
                    <ion-icon name="chevron-down-circle-outline"><img class="icon-arrow"
                            src="../assets/svgs/chevron-down-circle-outline.svg" alt="ikona šipky dolů"
                            width="30px"></ion-icon>
                </summary>
                <hr>
                <div class="item-content">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="small-em"><em><small>cena zahmuje poradenství, barvení, mztí,
                                        ošetření, foukání, styling</small></em></th>
                        </tr>
                        <tr>
                            <td class="left">Barva</td>
                            <td class="right">900 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Přeliv</td>
                            <td class="right">900 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Tuba navíc</td>
                            <td class="right">400 Kč</td>
                        </tr>
                    </table>
                </div>
            </details>
            <details class="item-box">
                <summary class="item-main">
                    <h2>ODBARVOVÁNÍ</h2>
                    <ion-icon name="chevron-down-circle-outline"><img class="icon-arrow"
                            src="../assets/svgs/chevron-down-circle-outline.svg" alt="ikona šipky dolů"
                            width="30px"></ion-icon>
                </summary>
                <hr>
                <div class="item-content">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="small-em"><em><small>cena zahmuje poradenství, barvení, mztí,
                                        ošetření, foukání, styling</small></em></th>
                        </tr>
                        <tr>
                            <td class="left">Kratké vlasy, pár pramenů</td>
                            <td class="right">650 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Polovina hlavy</td>
                            <td class="right">1300 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Celá hlava</td>
                            <td class="right">1600 Kč</td>
                        </tr>
                        <tr>
                            <td class="left">Odbarvovací lázeň</td>
                            <td class="right">1900 Kč</td>
                        </tr>
                    </table>
                </div>
            </details>
            <details class="item-box">
                <summary class="item-main">
                    <h2>ECLISSE - KERATINOVÁ KŮRA</h2>
                    <ion-icon name="chevron-down-circle-outline"><img class="icon-arrow"
                            src="../assets/svgs/chevron-down-circle-outline.svg" alt="ikona šipky dolů"
                            width="30px"></ion-icon>
                </summary>
                <hr>
                <div class="item-content">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="small-em"><em><small>cena se odvíjí podle spotřeby
                                        materiálu</small></em></th>
                        </tr>
                        <tr>
                            <td class="left">Kratké vlasy</td>
                            <td class="right">3000 Kč +</td>
                        </tr>
                        <tr>
                            <td class="left">Polodlouhé</td>
                            <td class="right">od 4000 Kč +</td>
                        </tr>
                        <tr>
                            <td class="left">Dlouhé</td>
                            <td class="right">od 5000 Kč +</td>
                        </tr>

                        <tr>
                            <th colspan="2">+ Připravky na doma: maska, šampon, kondicionér ve spreji</th>
                        </tr>
                        <tr>
                            <td class="left">Velké balení</td>
                            <td class="right">1600 Kč</td>

                        </tr>
                        <tr>
                            <td class="left">Malé balení</td>
                            <td class="right">1300 Kč</td>
                        </tr>
                    </table>
                </div>
            </details>
            <details class="item-box last-box">
                <summary class="item-main">
                    <h2>VLASOVÝ STYLING</h2>
                    <ion-icon name="chevron-down-circle-outline"><img class="icon-arrow"
                            src="../assets/svgs/chevron-down-circle-outline.svg" alt="ikona šipky dolů"
                            width="30px"></ion-icon>
                </summary>
                <hr>
                <div class="item-content">
                    <table class="table">
                        <tr>
                            <td class="left"><b>Žehlení</b></td>
                            <td class="right">200 Kč</td>
                        </tr>
                        <tr>
                            <td class="left"><b>Kulmování</b></td>
                            <td class="right">200 Kč</td>
                        </tr>
                    </table>
                </div>
            </details>
        </div>
    </div>
    <footer>
        <div class="svg-footer"><a class="a-footer-edges"
                href="https://www.facebook.com/profile.php?id=61570093749361"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>
                <p>Sledujte nás</p>
            </a></div>
        <div class="a-footer-middle svg-footer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-copyright">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path
                    d="M14 9.75a3.016 3.016 0 0 0 -4.163 .173a2.993 2.993 0 0 0 0 4.154a3.016 3.016 0 0 0 4.163 .173" />
            </svg>
            <p id="current-year"></p>
        </div>
        <a class="a-footer-middle" href="./privacni-politika.html">Zásady ochrany osobních údajů</a>
        <a class="a-footer-edges" href="https://www.linkedin.com/in/abigail-santana-medina-dw2024/">Site designed by
            Abi</a>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" async></script>
    <script src="../main.js" async></script>
</body>

</html>